<%- layout('layouts/boilerplate')%>
<h1>Create Campground</h1>
<form action="/campgrounds/" method="POST">
    <label for="title">Title</label>
    <input type="text" id='title' name='campground[title]' value="">
    <label for="location">Location</label>
    <input type="text" id='location' name='campground[location]' value="">
    <button type="submit">Submit</button>
</form>
<a href="/campgrounds/"> All Campgrounds</a>
